<div>
  <picture>
    <img src='images/beer.png' alt='' />
  </picture>
  <div id="two-btn">
    <a href='/beers'>SHOW ME WHAT YOU GOT</a>
    <a href='/random-beer'>SHOW ME A RANDOM BEER </a>
  </div>
</div>